<script type="text/javascript">
  var div_content_add = document.getElementById('div_content');
  div_content_add.setAttribute("class", "div_content_list");
</script>
<div class="div_add">
  <input type="button" value="Главная страница" class="btn_href" onclick="location.href='/'"><br>
  <hr class="hr">
  <div class="div_list">
    <div class="div_in_line">
      Название сериала
    </div>
    <div class="div_in_line">
      Оригинальное название
    </div>
    <div class="div_in_line">
      Дата выхода следующей серии
    </div>
    <div class="div_in_line">
      Название эпизода
    </div>
  </div>
  <div class="div_list">
    <div class="div_in_line">
      Название сериала
    </div>
    <div class="div_in_line">
      Оригинальное название
    </div>
    <div class="div_in_line">
      Дата выхода следующей серии
    </div>
    <div class="div_in_line">
      Название эпизода
    </div>
  </div>
</div>
